
.firstword {
    color:red;
    font-family: 'Allerta', sans-serif; 
    font-weight: bold;
    font-size: 16pt;
}
.secondword {
    color:blue;
    font-family: 'Allerta', sans-serif; 
    font-weight: bold;
    font-size: 16pt;
}
.thirdword {
    color:green;
    font-family: 'Allerta', sans-serif; 
    font-weight: bold;
    font-size: 16pt;
}



img {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

body {
			/* Allerta allows for slashed zeros */
			font-family: 'Allerta', sans-serif;  
			width: 95%;
			padding-left: 15px;
		}
		html {
			font-size: 14pt;
			padding-right: 10px;
		}
		.title p{
			font-size: 24pt;
			margin-top: -1em; 
			margin-bottom: .55em;
		}
		.title p::first-letter {
	/*		font-size: 42pt; */
		}
		.redimportant {
    /*		font-weight: bold;
			color:white; 
			padding-left: 20px;
			font-size: 18pt;
			background-color: #bb000a; */
		}
		.nofirstletter {
	/*		font-size: 24pt; */
			color: green; 
			font-weight: bold; 
		}
		.title p:first-of-type {
			color: red;
			padding-top:1em;
		}
		
		.title p:nth-of-type(2n) {
			color: blue;
			padding-left:36px;
		}
		.title p:last-of-type {
			color: #005300;
			padding-left:72px;
		}
		
		.logo b:first-of-type {
			color: red;
		}
		.logo b:nth-of-type(2n) {
			color: blue;
		}
		.logo b:last-of-type {
			color: #005300;
		}

		h3 {
			color: #005300;
			font-weight: bold;
			font-size: 24pt;
			text-decoration: underline;
			text-decoration-style: double; 
		}
		h4 {
			font-weight: bold;
			font-size: 18pt;
			color: blue;
		}
		hr {
			border-width: 3px;
		}
		ul {
			list-style-type: circle;
		}
		.topics {
			
		}
		.helpfulhints {
			font-size:16pt;
			color: blue;
		}
		#Changes {
			font-size: 16pt;
		}
		.Purpose {
			font-size: 16pt;
		}
		#HelpKey {
			
		}
		.HelpKey .checkins .checkins .misc .defaultcolumnedits .sorting .reports .advancedtopics .theend
		.additional .somemore .displays .fema .aprstt .responsive{
			font-size: 16pt;
		}
		.helpfulhints p::first-letter {
		/*	font-weight: bold;
			font-size: 18pt;
			color: #2504f6; */
		}

	/*	.Purpose p::first-letter {
			font-weight: bold;
			font-size: 18pt;
			color: black;
		} */
		.startanet p::first-letter {
	/*		font-weight: bold;
			font-size: 18pt;
			color: black; */
		}
		.checkins p::first-letter {
	/*		font-weight: bold;
			font-size: 18pt;
			color: black; */
		}
		.tactical p::first-letter {
	/*		font-weight: bold;
			font-size: 18pt;
			color: black; */
		}
		
		#myBtn {
		  opacity: 0.7;
		  
		  display: none;
		  position: fixed;
		  bottom: 20px;
		  right: 30px;
		  z-Æ’: 99;
		  font-size: 18px;
		  border: none;
		  outline: none;
		  background-color: rgba(129, 118, 118, 0.5);
		  color: white;
		  cursor: pointer;
		  padding: 15px;
		  border-radius: 4px;
		}
		
		#myBtn:hover {
		  background-color: #645f5f;
		}


		@supports (font-variant-numeric: diagonal-fractions) {
			.fraction {
			/*	font-feature-settings: 0; */
				font-variant-numeric: slashed-zero;
  			}
  		}
		
		
		
		/* below work in somemore */
		.column {
			float: left;
			padding: 10px;
		}
		.left {
			width: 25%;
		}
		.row:after {
			content: "";
			display: table;
			clear: both;
		}
		.column img {
			padding:1px;
			border:1px solid #021a40;
			background-color:#ff0;
			border-radius: 10px;
		}
		.column li {
			padding-bottom: 3px;
		}
		.flexcontainer {
		  display: flex;
		  align-items: center;
		}
		
		.flex-container1 {
			background-color: lightblue;
			padding: 5px;
			height:100px;
			display: flex; 
			flex-flow: row nowrap; 
			justify-content: space-between;
			align-items: center;
			border: 2px solid darkblue;
		}
		.flex-container2 {
			background-color: #e7ede7;
			padding: 5px;
			width: 50%;
			display: flex; 
			flex-flow: row nowrap; 
			justify-content: space-between;
			align-items: center;
			border: 2px solid darkblue;
		}
		.flex-container3 {
			background-color: #e7ede7;
			padding: 5px;
			width: 50%;
			display: flex; 
			flex-flow: row nowrap; 
			justify-content: space-between;
			align-items: center;
			border: 2px solid darkblue;
		}
		* {
			box-sizing: border-box;
		}
		.twocolrow {
			display: flex;
			width: 80%;
		}
		.twocolumn {
			flex: 50%;
			padding: 10px;
		}
		
		a {
    		color: blue;
    		text-decoration: none;
		}
		a:hover {
          color: red;
        }
        
        /* topics replaces the ol below */
        .topics {
        	columns: 3;
        	column-span: 3;
    	}
    	.topics2 {
        	columns: 2;
        	column-span: 2;
    	}
/*		
		ol {
    		    list-style: none;
    		    
                -moz-column-count: 3;
                -moz-column-gap: 20px;
                -webkit-column-count: 4;
                -webkit-column-gap: 20px;
                column-count: 3;
                column-gap: 20px;
            }
  */          
        
        .reports ol {
            list-style: none;
        }
        
.ncm::first-letter {
		color:red;
	}
	ul {
    	 list-style: none;
	}
	

    header p:nth-of-type(1) {
        color:green; font-weight: bold;
        text-decoration-line: underline;
        text-decoration-style: double;
    }
    
    header p:nth-of-type(2) {
        color:blue; font-weight:bold;
    }

.boxTZ{
		width: 80%;
		position: relative;
		display: inline-block; /* Make the width of box same as image */
	}
	.boxTZ .text{
		position: absolute;
		z-index: 999;
		margin: 0 auto;
		left: 85%;   /* was 65 */
	/*	right: 0; */
		top: 25%; /* Adjust this value to move the positioned div up and down */
		/*text-align: center;*/
		width: 80%; /* Set the width of the positioned div */
		color: darkred;
	}
	
	.topBanner {
    	width: 900px;
    	position: relative;
    	margin:0 auto;
    	line-height: 1.5em;
	}
	
	.printIt {
        padding-right: 50px; 
        white-space: nowrap;
        overflow: hidden;
    }

	
	.traffictable {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 75%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        
    .dl4dbm dt {
        color: blue;
    }
    
    .mappois dt {
        color: blue;
    }


  #groupsio_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
  #groupsio_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
  #groupsio_embed_signup .email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px;}
  #groupsio_embed_signup {
    background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; 
  }
  #groupsio_embed_signup .button {

      width:25%; margin:0 0 10px 0; min-width:90px;
      background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
      background-repeat: repeat-x;
      border-color: #245580;
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
      color: #fff;
      background-color: #337ab7;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
    }
    
    #smtitle {
        visibility: hidden;
    }
        
	/* see help.css and print.css */
	@media (max-width: 1000px ) {
    body {
        display: block;
    }
	.flex-container1 {
		visibility: hidden;
    }
		
    .title {
        visibility: hidden;
    }
	
	#smtitle {
    	visibility: visible;
        width: 55px;
        padding-left: 10px;
        padding-top: 5px;
        border-style: hidden;
    }
    
    #banner {
        height: 60px;
    }
    
    #index {
        margin-top: 10px;
    }

