ENV_SETUP.php

dbConnectDtls.php 
to-mega-backup.sh
flot-master
plotting_examples.php
indexAnimate.php
editStationsTable.php
updateStationsTable.php
stickyTest.php
ADIFtoMySQL.php
ADIFreadLog.php
heart.html
indexTEST.php
config.php
config2.php


# MacOS
.DS_Store